<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
</head>
<!--
 Below Should be Page Design Code
   //=========================================================================
-->
<body ng-app="MyApp">
    <div ng-controller="TestCtrl">
        <input type="button" ng-click="SendData(Data)" value="Get Token" />
        <div class="col-md-12" ng-repeat="t in results">
            @*<table class="table">
                <tr>
                    <td>{{t.Id}}</td>
                    <td>{{t.Name}}</td>
                    <td>{{t.ServiceTypeId}}</td>
                    <td>{{t.SerImg}}</td>
                    <td>{{t.Rating}}</td>
                </tr>
            </table>*@
            <p></p>
            <p></p>
        </div>
    </div>
    <hr />
    <p>name raklu</p>
</body>
</html>
<script>

    var app = angular.module('MyApp', []);
    app.controller('TestCtrl', ['$scope', '$http', function ($scope, $http) {
        // var TestCtrl = function ($scope, $http) {
        //Calling sendData function which is called from button click event above
        $scope.SendData = function (Data) {
            //Collecting parameters to call Service Leader Authentication API.
            var data = "grant_type=password&username=" +
                '8888119849' + "&password=" + '1234';
            //Calling Http Post of AngularJS on Service Leader Authentication API
            $http.post("https://intapiCustomer.serviceleader.in/token", data, {
                headers:
                    { 'Content-Type': 'application/x-www-form-urlencoded' }
            }).success(function (TokenResponse) {
                //If API Call is Successful then collect responce in TokenResponse object
                alert(JSON.stringify(TokenResponse))
                
                var chat=
                {
                    "Question_Ans" :
                        [{
                            Qid: "1",
                            Aid: "2",
                            Seq: "5",
                            RateId: "10",
                            RateDesc: "Test",
                            Rate: "200"
                        },
                        {
                            Qid: "1",
                            Aid: "2",
                            Seq: "5",
                            RateId: "10",
                            RateDesc: "Test",
                            Rate: "200"
                        }],
                    "Info" :
                        {
                            N_fname: "Ram",
                            N_lname: "Sham",
                            N_street1: "abc",
                            N_street2: "pqr",
                            N_city: "pune",
                            N_state: "Maharashtra",
                            N_zip: "123456",
                            P_mode: "abc",
                            N_uname: "524523612",
                            N_pass: "wer34",
                            N_mobile: "7845785455",
                            N_email: "abc@gmail.com",
                            N_TaskerId: "1",
                            N_time: "3 to 5",
                            N_date: "2-2-2018",
                            N_note: "I have 2 yr of exp",
                            N_total: "500",
                            N_OtherCity: "mumbai"
                         }
                }
            


                $http.post("https://intapiCustomer.serviceleader.in/api/SL_SubmitOrder", chat,  {
                    headers: { Authorization: 'bearer ' + TokenResponse.access_token }
                }).success(function (APIResponse) {
                     alert("POST"+JSON.stringify(APIResponse))
                 }).error(function (err, status) {
                     alert(err.Message)
                 });
            }).error(function (err, status) {
                alert(err.Message)
            });
        };

        //$scope.APITEST = function (Data) {

        //    //=========================================================================
        //    $http.post("http://localhost:51324/api/First/validate", {
        //        headers:
        //            { 'Content-Type': 'application/x-www-form-urlencoded' }
        //    }).success(function (APIResponse) {
        //        //If it is Success
        //        $scope.results = APIResponse;

                

        //        alert(JSON.stringify(APIResponse))
        //    }).error(function (err, status) {
        //        //If It is Error
        //        alert(err.Message)
        //    });
           
        //};
    }]);
</script>


